[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.*"
django-revproxy = "==0.12.*"
gunicorn = "==22.0.*"
# mysqlclient = "==2.2.*"
paramiko = "==3.4.*"
whitenoise = "==6.7.*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "python manage.py runserver"
serve = "python manage.py runserver"
startapp = "python manage.py startapp"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
createcachetable = "python manage.py createcachetable"
shell = "python manage.py shell"
createsuperuser = "python manage.py createsuperuser"
changepassword = "python manage.py changepassword"
collectstatic = "python manage.py collectstatic --noinput"
addemail = "python manage.py addemail"
black = "python -m black ."
isort = "python -m isort ."

[pipenv]
allow_prereleases = true
